<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.climesoftt.transportmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllMechanicsActivity"

            android:label="@string/title_activity_all_mechanics" />
        <activity
            android:name=".AllDriversActivity"

            android:label="@string/title_activity_all_drivers" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".AdminDashboardActivity"

            android:label="@string/title_activity_admin_dashboard" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_resgistration" />
        <activity
            android:name=".DriverProfile"

            android:label="@string/title_activity_driver_profile" />
        <activity
            android:name=".AllRoutes"

            android:label="@string/title_activity_all_routes" />
        <activity
            android:name=".AddRoute"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_route" />
        <activity
            android:name=".Route"

            android:label="@string/title_activity_route" />
        <activity
            android:name=".AddMechanic"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_Mechanic" />
        <activity
            android:name=".AddDriver"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_driver" />
        <activity
            android:name=".EditDriver"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_driver" />
        <activity
            android:name=".EditMechanic"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_mechanic" />
        <activity
            android:name=".MechanicProfile"

            android:label="@string/title_activity_edit_mechanic" />
        <activity android:name=".EditRoute"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_route"/>
        <activity android:name=".DriverAndPersonalFaq"

            android:label="@string/title_activity_driver_faq"/>
        <activity android:name=".DriverDashboard"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_driver_dashboard"/>
        <activity android:name=".AddQuestionActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_question"/>
        <activity android:name=".EditQuestionActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_question"/>
        <activity android:name=".AddMaintenenceActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_maintenence"/>
        <activity android:name=".EditMaintenenceActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_maintenence" />
        <activity
            android:name=".AllMaintenceActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_all_maintenece" />
        <activity android:name=".ViewMaintenenceActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_view_maintenence"/>
        <activity android:name=".Personal"
            android:screenOrientation="portrait"
            android:label="Personal"/>

        <receiver
            android:name=".utils.NotificationMessageReciever"
            android:label="BroadcastReceiverAux">
            <intent-filter>
                <action android:name="ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcast.NotificationReceiver" />


    </application>

</manifest>